<%= form_for([:admin, @api_client], local: true) do |form| %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field(:name,
                        id: :name,
                        class: "form-control") %>
  </div>

    <%= form.submit(form.object.new_record? ?
                   "submit" : "API-Client Bearbeiten",
                   class: "btn btn-primary")
                                                      %>

<% end %>
