<h2>API-Clients</h2>
<p>
Hier siehst du alle API-Clients die eine Verbindung zu EVENTSURFER aufbauen
dürfen.
</p>
<pre>
curl --header "X-EVENTSURFER-Auth: blablabla" \
"url/api/v1/..."
</pre>

<%= link_to("API-Client anlegen", 
            new_admin_api_client_path(), 
            class: "btn btn-primary") %>

<%= render partial: "table" %>

