<h2>API-Clients</h2>
<pre>
curl --header "X-EVENTSURFER-Auth: blablabla" \"url/api/v1/..."
</pre>

<%= link_to("Add api-client",
            new_admin_api_client_path(), 
            class: "btn btn-primary") %>

<%= render partial: "table" %>

