<div id="locationModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h5 class="modal-title" id="#locationModalLabel">Modal Header</h5>
      </div>
      <div class="modal-body">
        <p>Ein netter Text <span class="street">STREET</span> <span class="postcode">POSTCODE</span>
          <span class="city">CITY</span> <span class="country">COUNTRY</span>
          <span class="streetNumber">STREETNUMBER</span> <span class="createdAt">CREATED AT</span>
          <span class="updatedAt">UPDATED AT</span> <span class="changedBy">CHANGED BY</span></p>
      </div>
      <div class="modal-footer">
        <%= button_to("Edit", "#/", remote: true, class: "btn btn-primary locationeditbutton", form_class: "locationeditbutton") %>
        <%= button_to("Delete", "#/", remote: true, class: "btn btn-danger locationdeletebutton", form_class: "locationdeletebutton") %>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>