<!DOCTYPE html >
<html lang="en">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
  <meta charset="utf-8" />
</head>

<body style="margin: 0;">

<div id="p1" style="overflow: hidden; position: relative; background-color: white; width: 909px; height: 1286px;">

  <!-- Begin shared CSS values -->
  <style class="shared-css" type="text/css" >
    .t {
      -webkit-transform-origin: bottom left;
      -ms-transform-origin: bottom left;
      transform-origin: bottom left;
      -webkit-transform: scale(0.25);
      -ms-transform: scale(0.25);
      transform: scale(0.25);
      z-index: 2;
      position: absolute;
      white-space: pre;
      overflow: visible;
    }
  </style>
  <!-- End shared CSS values -->


  <!-- Begin inline CSS -->
  <style type="text/css" >

    #t1_1{left:108px;bottom:1135px;}
    #t2_1{left:108px;bottom:1089px;}
    #t3_1{left:108px;bottom:1070px;}
    #t4_1{left:108px;bottom:1051px;letter-spacing:0.1px;word-spacing:-0.1px;}
    #t5_1{left:542px;bottom:1107px;letter-spacing:0.1px;word-spacing:-0.1px;}
    #t6_1{left:542px;bottom:1088px;letter-spacing:0.1px;word-spacing:-0.1px;}
    #t7_1{left:542px;bottom:1070px;letter-spacing:0.1px;word-spacing:-0.1px;}
    #t8_1{left:542px;bottom:1041px;}
    #t9_1{left:542px;bottom:1022px;}
    #ta_1{left:542px;bottom:1004px;}
    #tb_1{left:108px;bottom:868px;letter-spacing:-0.1px;}
    #tc_1{left:108px;bottom:842px;}
    #td_1{left:217px;bottom:842px;}
    #te_1{left:108px;bottom:824px;}
    #tf_1{left:217px;bottom:824px;}
    #tg_1{left:108px;bottom:805px;}
    #th_1{left:217px;bottom:805px;}
    #ti_1{left:108px;bottom:786px;letter-spacing:0.1px;}
    #tj_1{left:217px;bottom:786px;}
    #tk_1{left:108px;bottom:767px;}
    #tl_1{left:217px;bottom:767px;}
    #tm_1{left:542px;bottom:842px;}
    #tn_1{left:672px;bottom:842px;}
    #to_1{left:542px;bottom:824px;}
    #tp_1{left:672px;bottom:824px;}
    #tq_1{left:542px;bottom:805px;}
    #tr_1{left:672px;bottom:805px;}
    #ts_1{left:542px;bottom:786px;}
    #tt_1{left:672px;bottom:786px;}
    #tu_1{left:542px;bottom:767px;}
    #tv_1{left:672px;bottom:767px;}
    #tw_1{left:109px;bottom:666px;letter-spacing:-0.1px;}
    #tx_1{left:171px;bottom:666px;}
    #ty_1{left:256px;bottom:666px;}
    #tz_1{left:538px;bottom:666px;}
    #t10_1{left:588px;bottom:666px;letter-spacing:-0.1px;}
    #t11_1{left:656px;bottom:666px;letter-spacing:-0.1px;word-spacing:0.6px;}
    #t12_1{left:760px;bottom:666px;word-spacing:-0.1px;}
    #t13_1{left:109px;bottom:636px;}
    #t14_1{left:171px;bottom:636px;}
    #t15_1{left:256px;bottom:636px;word-spacing:-0.1px;}
    #t16_1{left:256px;bottom:621px;letter-spacing:-0.1px;}
    #t17_1{left:552px;bottom:636px;}
    #t18_1{left:598px;bottom:636px;letter-spacing:-0.1px;}
    #t19_1{left:707px;bottom:636px;letter-spacing:-0.1px;}
    #t1a_1{left:792px;bottom:636px;letter-spacing:-0.1px;}
    #t1b_1{left:109px;bottom:593px;}
    #t1c_1{left:171px;bottom:593px;}
    #t1d_1{left:256px;bottom:593px;word-spacing:-0.1px;}
    #t1e_1{left:256px;bottom:578px;word-spacing:0.5px;}
    #t1f_1{left:552px;bottom:593px;}
    #t1g_1{left:598px;bottom:593px;letter-spacing:-0.1px;}
    #t1h_1{left:707px;bottom:593px;letter-spacing:-0.1px;}
    #t1i_1{left:792px;bottom:593px;letter-spacing:-0.1px;}
    #t1j_1{left:109px;bottom:549px;}
    #t1k_1{left:171px;bottom:549px;}
    #t1l_1{left:256px;bottom:549px;word-spacing:-0.1px;}
    #t1m_1{left:256px;bottom:534px;letter-spacing:-0.1px;}
    #t1n_1{left:552px;bottom:549px;}
    #t1o_1{left:598px;bottom:549px;letter-spacing:-0.1px;}
    #t1p_1{left:707px;bottom:549px;letter-spacing:-0.1px;}
    #t1q_1{left:792px;bottom:549px;letter-spacing:-0.1px;}
    #t1r_1{left:109px;bottom:506px;}
    #t1s_1{left:171px;bottom:506px;letter-spacing:-0.1px;}
    #t1t_1{left:256px;bottom:506px;word-spacing:-0.1px;}
    #t1u_1{left:552px;bottom:506px;}
    #t1v_1{left:598px;bottom:506px;letter-spacing:-0.1px;}
    #t1w_1{left:707px;bottom:506px;letter-spacing:-0.1px;}
    #t1x_1{left:792px;bottom:506px;letter-spacing:-0.1px;}
    #t1y_1{left:663px;bottom:449px;letter-spacing:-0.1px;word-spacing:0.6px;}
    #t1z_1{left:776px;bottom:449px;letter-spacing:-0.1px;}
    #t20_1{left:597px;bottom:419px;word-spacing:-0.1px;}
    #t21_1{left:782px;bottom:419px;letter-spacing:-0.3px;word-spacing:0.7px;}
    #t22_1{left:672px;bottom:388px;letter-spacing:-0.1px;}
    #t23_1{left:776px;bottom:388px;letter-spacing:-0.1px;}
    #t24_1{left:108px;bottom:309px;}
    #t25_1{left:108px;bottom:280px;}
    #t26_1{left:108px;bottom:83px;}
    #t27_1{left:108px;bottom:69px;}
    #t28_1{left:108px;bottom:54px;word-spacing:0.3px;}
    #t29_1{left:303px;bottom:54px;}

    .s1_1{
      FONT-SIZE: 39.7px;
      FONT-FAMILY: LiberationSans_s;
      color: rgb(0,0,0);
    }

    .s2_1{
      FONT-SIZE: 55px;
      FONT-FAMILY: LiberationSans_s;
      color: rgb(0,0,0);
    }

    .s3_1{
      FONT-SIZE: 79.4px;
      FONT-FAMILY: LiberationSans-Bold_n;
      color: rgb(0,0,0);
    }

    .s4_1{
      FONT-SIZE: 55px;
      FONT-FAMILY: LiberationSans-Bold_n;
      color: rgb(0,0,0);
    }

    .s5_1{
      FONT-SIZE: 48.9px;
      FONT-FAMILY: LiberationSans-Bold_n;
      color: rgb(0,0,0);
    }

    .s6_1{
      FONT-SIZE: 48.9px;
      FONT-FAMILY: LiberationSans_s;
      color: rgb(0,0,0);
    }

    .s7_1{
      FONT-SIZE: 39.7px;
      FONT-FAMILY: LiberationSans_s;
      color: rgb(0,0,255);
    }

    #form1_1{	z-index: 2;	border-style: none;	padding: 0px;	position: absolute;	left: 303px;	top: 1219px;	width: 83px;	height: 12px;	text-align: left;	background: transparent;	font: normal 9px Arial, Helvetica, sans-serif;}

  </style>
  <!-- End inline CSS -->

  <!-- Begin embedded font definitions -->
  <style id="fonts1" type="text/css" >

    @font-face {
      font-family: LiberationSans-Bold_n;
      src: url("fonts/LiberationSans-Bold_n.woff") format("woff");
    }

    @font-face {
      font-family: LiberationSans_s;
      src: url("fonts/LiberationSans_s.woff") format("woff");
    }

  </style>
  <!-- End embedded font definitions -->

  <!-- Begin page background -->
  <div id="pg1Overlay" style="width:100%; height:100%; position:absolute; z-index:1; background-color:rgba(0,0,0,0); -webkit-user-select: none;"></div>
  <div id="pg1" style="-webkit-user-select: none;"><object width="909" height="1286" data="1/1.svg" type="image/svg+xml" id="pdf1" style="width:909px; height:1286px; -moz-transform:scale(1); z-index: 0;"></object></div>
  <!-- End page background -->


  <!-- Begin text definitions (Positioned/styled in CSS) -->
  <div id="t1_1" class="t s1_1">Muster GmbH Lange Str. 2 | 10245 Berlin</div>
  <div id="t2_1" class="t s2_1">Habermann &amp; Söhne</div>
  <div id="t3_1" class="t s2_1">Schnurlos-Straße 81</div>
  <div id="t4_1" class="t s2_1">34131 Kassel</div>
  <div id="t5_1" class="t s2_1">Muster GmbH </div>
  <div id="t6_1" class="t s2_1">Lange Str. 2 </div>
  <div id="t7_1" class="t s2_1">10245 Berlin</div>
  <div id="t8_1" class="t s2_1">+49 (0) 30 2121356</div>
  <div id="t9_1" class="t s2_1">mail@muster.de</div>
  <div id="ta_1" class="t s2_1">www.muster.de</div>
  <div id="tb_1" class="t s3_1">Rechnung</div>
  <div id="tc_1" class="t s2_1">Rechnungs-Nr.:</div>
  <div id="td_1" class="t s4_1">M1675</div>
  <div id="te_1" class="t s2_1">Auftrags-Nr.:</div>
  <div id="tf_1" class="t s2_1">O1727</div>
  <div id="tg_1" class="t s2_1">Komission:</div>
  <div id="th_1" class="t s2_1">Bestellung Gerstner</div>
  <div id="ti_1" class="t s2_1">Kunden-Nr.:</div>
  <div id="tj_1" class="t s2_1">1068</div>
  <div id="tk_1" class="t s2_1">Bestell-Nr.:</div>
  <div id="tl_1" class="t s2_1">369852</div>
  <div id="tm_1" class="t s2_1">Rechnungsdatum:</div>
  <div id="tn_1" class="t s2_1">28.05.15</div>
  <div id="to_1" class="t s2_1">Lieferdatum:</div>
  <div id="tp_1" class="t s2_1">29.05.15</div>
  <div id="tq_1" class="t s2_1">Bearbeiter:</div>
  <div id="tr_1" class="t s2_1">Dorothea Schäfer</div>
  <div id="ts_1" class="t s2_1">Telefon:</div>
  <div id="tt_1" class="t s2_1">030 2121359</div>
  <div id="tu_1" class="t s2_1">E-Mail:</div>
  <div id="tv_1" class="t s2_1">mail@muster.de</div>

  <!-- Should be fix -->

  <div id="tw_1" class="t s5_1">Pos.</div>
  <div id="tx_1" class="t s5_1">Art-Nr.</div>
  <div id="ty_1" class="t s5_1">Bezeichnung</div>
  <div id="tz_1" class="t s5_1">Menge</div>
  <div id="t10_1" class="t s5_1">Einheit</div>
  <div id="t11_1" class="t s5_1">Preis/Einh. (€)</div>
  <div id="t12_1" class="t s5_1">Gesamt (€)</div>
  <div id="t13_1" class="t s6_1">1</div>
  <div id="t14_1" class="t s6_1">B-3025-078</div>
  <div id="t15_1" class="t s5_1">B-3025, Farbe Grün</div>
  <div id="t16_1" class="t s6_1">Musterartikel</div>
  <div id="t17_1" class="t s6_1">1,00</div>
  <div id="t18_1" class="t s6_1">Stk.</div>
  <div id="t19_1" class="t s6_1">47,00</div>
  <div id="t1a_1" class="t s6_1">47,00</div>
  <div id="t1b_1" class="t s6_1">2</div>
  <div id="t1c_1" class="t s6_1">B-0050-050</div>
  <div id="t1d_1" class="t s5_1">B-0050, Farbe Blau</div>
  <div id="t1e_1" class="t s6_1">Musterartikel ABC</div>
  <div id="t1f_1" class="t s6_1">2,00</div>
  <div id="t1g_1" class="t s6_1">Stk.</div>
  <div id="t1h_1" class="t s6_1">36,00</div>
  <div id="t1i_1" class="t s6_1">72,00</div>
  <div id="t1j_1" class="t s6_1">3</div>
  <div id="t1k_1" class="t s6_1">A-0086-007</div>
  <div id="t1l_1" class="t s5_1">A-0086, Antik-Look</div>
  <div id="t1m_1" class="t s6_1">Musterartikel</div>
  <div id="t1n_1" class="t s6_1">1,00</div>
  <div id="t1o_1" class="t s6_1">Stk.</div>
  <div id="t1p_1" class="t s6_1">56,00</div>
  <div id="t1q_1" class="t s6_1">56,00</div>
  <div id="t1r_1" class="t s6_1">3</div>
  <div id="t1s_1" class="t s6_1">V-13kg</div>
  <div id="t1t_1" class="t s5_1">Versand und Verpackung</div>
  <div id="t1u_1" class="t s6_1">1,00</div>
  <div id="t1v_1" class="t s6_1">Stk.</div>
  <div id="t1w_1" class="t s6_1">11,99</div>
  <div id="t1x_1" class="t s6_1">11,99</div>
  <div id="t1y_1" class="t s6_1">Summe Netto</div>
  <div id="t1z_1" class="t s6_1">€ 186,99</div>
  <div id="t20_1" class="t s6_1">19,00% USt. auf 186,99 €</div>
  <div id="t21_1" class="t s6_1">€ 35,52</div>
  <div id="t22_1" class="t s5_1">Endsumme</div>
  <div id="t23_1" class="t s5_1">€ 222,51</div>
  <div id="t24_1" class="t s2_1">Lieferbedingung: Postversand</div>
  <div id="t25_1" class="t s2_1">10 Tage 5% Skonto, 30 Tage ohne Abzug</div>
  <div id="t26_1" class="t s1_1">Muster GmbH · Sparkasse Berlin · Konto 10 25 25 25 · BLZ 500 600 26 · IBAN DE10 25 25 25 500 600 26 02· BIC HERAKLES02</div>
  <div id="t27_1" class="t s1_1">Sitz der Gesellschaft: Berlin, Deutschland · Geschäftsführung: Max Mustermann · Handelsregister: AG Berlin HRB 123456 · USt-IdNr. DE216398573</div>
  <div id="t28_1" class="t s1_1">Diese Rechnungsvorlage wurde erstellt von </div>
  <div id="t29_1" class="t s7_1">www.weclapp.com</div>

  <!-- End text definitions -->


  <!-- Begin Form Data -->
  <form>
    <input id="form1_1" type="button" tabindex="1" data-objref="14 0 R"/>

  </form>
  <!-- End Form Data -->

</div>
</body>
</html>
