<div class="row">
  <% @events.each do |event| %>
    <div class="col-md-4 mb-5">
      <div class="card h-100">
        <img class="card-img-top" src="http://placehold.it/300x200" alt="<%= event.name %>">
        <div class="card-body">
          <h4 class="card-title"><%= event.name %></h4>
          <p class="card-text"><%= event.description %></p>
        </div>
        <div class="card-footer">
          <a href="<%= frontend_event_path(event.id) %>" class="btn btn-primary">Find Out More!</a>
        </div>
      </div>
    </div>
  <% end %>
</div>
