<h1></h1>

<table>
  <th>Name</th>
  <th>key</th>
  <th></th>
  <th></th>
  <tbody>
  <% @apiKeys.each do |apiclient| %>
    <tr>
      <td><%= apiclient.name %></td>
      <td><%= apiclient.auth_key %></td>
      <td><% %></td>
    </tr>
  <% end %>
  </tbody>
</table>