<table class="table">
  <thead>
  <tr>
    <th>Performance</th>
    <th>Count</th>
  </tr>
  </thead>
  <tbody>
  <% if !@items.nil? %>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.performance_id %></td>
        <td><%= item.count %></td>
      </tr>
    <% end %>
    <%= @cart %>
  <% end %>

  <%= button_to "ORDER", frontend_create_order_path, method: :post %>
  </tbody>
</table>
