<table class="table">
  <th>ID</th>
  <th>Performance</th>
  <tbody>
  <% if !@items.nil?%>
    <% @items.each do |ticket| %>
      <tr>
        <td><%= ticket.performance.event.name%></td>
        <td><a href=<%= frontend_remove_from_cart_path(ticket.id)%>>X</a></td>
      </tr>
    <% end %>
  <%= @cart %>
  <% end %>
  </tbody>
</table>