<h1>View of all Costumers</h1>
<table class="table table-striped">
  <thead>
  <tr>
    <th>Name</th>
    <th>Email</th>
  </tr>
  </thead>
  <tbody>
  <% @costumer.each do |user| %>
    <tr>
      <td><%= user.name %></td>
      <td><%= user.email %></td>
      <td>
        <%= link_to('Bearbeiten',
                    edit_admin_user_path(user),
                    class: "btn btn-secondary ", style: "background-color: ") %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
