<table class="table">
  <thead>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Enabled</th>
    <th>Admin</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% @employer.each do |user| %>
    <tr>
      <td><%= user.name %></td>
      <td><%= user.email %></td>
      <td>
        <%if user.enabled? %>
          <i class="fas fa-fw fa-check" style="color: green"></i>
        <% else %>
          <i class="fas fa-fw fa-times" style="color: red"></i>
        <% end %>
      </td>
      <td>
        <%if user.admin? %>
          <i class="fas fa-fw fa-check" style="color: green"></i>
        <% else %>
          <i class="fas fa-fw fa-times" style="color: red"></i>
        <% end %>
      </td>
      <td>
        <%= link_to("",
                    edit_admin_user_path(user),
                    class: "btn btn-secondary fas fa-fw fa-edit") %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
